@model IEnumerable<ClientWebApp_MVC_.Models.BookingModel>

@{
    ViewData["Title"] = "BookingList";
}

<h1>My bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
        </tr>
}
    </tbody>
</table>
