@model ClientWebApp_MVC_.Models.FlightModels

@{
    ViewData["Title"] = "DetailsFlight";
}

<h1>Flight details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeatsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSalePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalSalePrice)
        </dd>
        <dt class="col-sm-2">
            Average price : 
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Message
        </dd>
    </dl>
</div>


<h1>Want a reservation ? Fill the inputs below</h1>
<hr />
<div>
    @using (Html.BeginForm("Buy", "Home", new { id = Model.FlightNo, price = Model.Price }))
    {
        // PassengerModel
        <label for="Name">Name: </label><br>
        <input type="text" id="Name" class="form-control" required="required" name="Name" placeholder="Emilie" size="10"><br>
        <label for="SurName">Surname:</label>
        <input type="text" id="SurName" class="form-control" required="required" name="Surname" placeholder="Choffat" size="10"><br>

        // FlightModel
        <input type="text" id="Destination" class="form-control" required="required" name="Destination" value=" @Html.ValueFor(model => model.Destination)" hidden="hidden" size="10"><br>
        <input type="text" id="Departure" class="form-control" required="required" name="Departure" value=" @Html.ValueFor(model => model.Destination)" hidden="hidden" size="10"><br>
        <input type="text" id="Date" class="form-control" required="required" name="Date" value=" @Html.ValueFor(model => model.Date)" hidden="hidden" size="10"><br>
        <input type="text" id="FlightNo" class="form-control" required="required" name="FlightNo" value=" @Html.ValueFor(model => model.FlightNo)" hidden="hidden" size="10"><br>
        <input type="text" id="Price" class="form-control" required="required" name="Price" value=" @Html.ValueFor(model => model.Price)" hidden="hidden" size="10"><br>
        <input type="text" id="Seats" class="form-control" required="required" name="Seats" value=" @Html.ValueFor(model => model.Seats)" hidden="hidden" size="10"><br>
        <input type="text" id="SeatsAvailable" class="form-control" required="required" name="SeatsAvailable" value=" @Html.ValueFor(model => model.SeatsAvailable)" hidden="hidden" size="10"><br>
        <input type="text" id="TotalSalePrice" class="form-control" required="required" name="TotalSalePrice" value=" @Html.ValueFor(model => model.TotalSalePrice)" hidden="hidden" size="10"><br>

        <button class="button" style="vertical-align:middle" onclick="@("window.location.href='" + @Url.Action("Buy", "Home") + "'");"><span>Buy this ticket </span></button>


    }

    <hr />
    <a asp-action="Index">Back to List</a>
</div>
