@model IEnumerable<ClientWebApp_MVC_.Models.FlightModels>

@{
    ViewData["Title"] = "FlightsIndex";
}

<html>
<head>
</head>
<body>
    <h1>Flights available</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FlightNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Destination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatsAvailable)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatsAvailable)
                </td>
                <td>
                    <a id="button" asp-action="Details" asp-route-id="@item.FlightNo">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <img src="~/images/airport.jpg" class="center">
</body>
</html>

    