@model ClientWebApp_MVC_.Models.FlightModels

@{
    ViewData["Title"] = "DetailsFlight";
}

<h1>Flight details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeatsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>

<div>

    @using (Html.BeginForm("Buy", "Home", new { id = Model.FlightNo, price = Model.Price }))
    {
        <label for="firstname">First name:</label><br>
        <input type="text" id="firstname" class="form-control" required="required" name="firstname" placeholder="Emilie" size="10"><br>
        <label for="name">Last name:</label><br>
        <input type="text" id="name" class="form-control" required="required" name="name" placeholder="Teodoro" size="10"><br><br>


        <button type="submit" class="btn-primary">Buy this ticket</button>

    }

    <hr />
    <a asp-action="Index">Back to List</a>
</div>
